* {
    margin: 0;
    padding:0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.item {
    border: 1px solid rgb(228, 18, 18);
    padding: 50px;
    text-align: center;
    background: blue;
}

.item2 {
    background: green;
    grid-column: 2/4;
}

.item6 {
    background: red;
    grid-column: 3/5;
}

.item9 {
    background: yellow;
    grid-row: 3/5;
    grid-column: 2;
}

.item11 {
    background: hotpink;
    grid-row: 3/5;
    grid-column: 4;
}